### Importing Important Libraries

In [1]:
import numpy as np
import pandas as pd

### Exploring the data

In [4]:
df = pd.read_csv("Mall_Customers.csv")
df.head(n=10)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

### Checking size of data

In [5]:
df.shape

(200, 5)

There are 200 customers with 5 feature in data.

### Checking data types of columns

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
CustomerID                200 non-null int64
Genre                     200 non-null object
Age                       200 non-null int64
Annual Income (k$)        200 non-null int64
Spending Score (1-100)    200 non-null int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

### Renaming the columns

In [11]:
df = df.rename(columns={'Annual Income (k$)': 'Annual_income', 'Spending Score (1-100)': 'Spending_score','Genre':'Gender'})

In [22]:
df.head()

   CustomerID  Gender  Age  Annual_income  Spending_score
0           1    Male   19             15              39
1           2    Male   21             15              81
2           3  Female   20             16               6
3           4  Female   23             16              77
4           5  Female   31             17              40

### Removing CustomerId column

Since this feature has no impact on beaviour of customers, we can discard this column

In [21]:
df.drop('CustomerId',axis=1)

KeyError: "['CustomerId'] not found in axis"

### Checking Null values

In [6]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

If any of the sum is non zero we can remove null values or replace null values with mean depending on amount of null data.

# Visualizations

We will now try to get better insight of data using matplotlib and seaborn library.

In [ ]:
import